
<main class="contenedor">
    <form method="POST" class="default-form">
        <h1>Recupera el Password de tu Cuenta</h1>
        
        {{!-- Password --}}
        <div class="campo wrapp-input">
            <label>Nuevo Password Para tu Empresa</label>
            <span class="icon-eye">
                <i class="fa-solid fa-eye-slash "></i>
            </span>
            <input type="password" name="password" placeholder="Ingrese su Nueva Contraseña" required> 
        </div>

        <div class="campo">
            <input type="submit" value="Guardar Password" class="btn btn-azul">
        </div>
    </form>
</main>